{% extends 'pegasus/base.html' %}
{% load paginator %}

{% block content %}

<div class="page-header">
        <div class="pull-right hidden-print">
   <!--  <div class="row-fluid">
      <select class="selectpicker" data-show-subtext="true" data-live-search="true">
        <option data-subtext> 2009 </option>
        <option data-subtext>2010</option>
        <option data-subtext>2011</option>
        <option data-subtext>2012</option>
        <option data-subtext>2013</option>
        <option data-subtext="Rep California" disabled="disabled">2014</option>
      </select>

    </div> -->




        </div>
        <h3 class="sub-header">Ordenes de Compra / Servicio</h3>
</div>




    <div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Ano</th>
                <th>N_orden</th>
                <th>Tipo</th>
                <th>Num_doc</th>

            </tr>
        </thead>
        <tbody>

            {% for orden in orden_list %}
            <tr>
                <td>{{ orden.ano_eje }}</td>
                <td>{{ orden.get_orden_detalle }}</td>
                <td>{{ orden.tipo }}</td>
                <td>
                     <!-- este href hace referencia a arvhivo urls.py donde indica 3 parametros ano_eje num_doc y tipo-->
                    <a href="{% url 'requerimiento_detail' orden.ano_eje orden.num_doc orden.tipo %}">{{ orden.num_doc }}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    {% paginator %}
{% endblock %}
