{% extends 'pegasus/base.html' %}
{% load bootstrap3 %}

{% block content %}
    <h5 class="sub-header">
    {% if personal.dni %}
        {{ personal.nomb_comp }}
    {% else %}
        Personal Nuevo
    {% endif %}
    </h5>

    <form class="form" action='' method="POST">
        {% csrf_token %}

        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "star" %} Guardar
            </button>
        {% endbuttons %}
    </form>
{% endblock %}
