{% extends 'pegasus/base.html' %}
{% load paginator %}

{% block content %}
    <div class="page-header">
        <div class="pull-right hidden-print">
            <a href="#" class="btn btn-hg btn-info"><i class="icon-plus icon-white"></i> Nueva planilla</a>
        </div>
        <h3>Planillas {{ current_year }}</h3>
    </div>

<div class="table-responsive">
<table class="table table-striped">
    <thead>
        <tr>
            <th>N° Planilla</th>
            <th>Mod. Lab.</th>
            <th>Tipo Plan.</th>
            <th>Entidad</th>
            <th>Fuente Finac.</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        {% for planilla in planilla_list %}
        <tr>

            <td><a href="#">{{ planilla.n_planilla }}</a>
            </td>

            <td>{{ planilla.mod_laboral }}</td>
            <td>{{ planilla.tipo_planilla }}</td>
            <td>{{ planilla.entidad }}</td>
            <td>{{ planilla.get_fuente_financ }}</td>
            <td>{{ planilla.estado }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% paginator %}

{% endblock %}
