{% extends 'pegasus/base.html' %}

{% block content %}
    <h2 class="sub-header">Planilla Trab {{ planillatrab }}</h2>
    {{ planillatrab.personal }}
    <h3>Detalles</h3>
    <div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>N°</th>
                <th>Codigo</th>
                <th>Concepto</th>
                <th>Valor</th>
                <th>%</th>
                <th>Monto</th>
            </tr>
        </thead>
        <tbody>
            {% for item in planillatrab.get_detalle_items %}
            <tr>
                <td>{{ item.get_ind_display }}</td>
                <td>{{ item.concepto.codigo }}</td>
                <td>{{ item.concepto }}</td>
                <td>{{ item.valor }}</td>
                <td>{{ item.porcen }}</td>
                <td>{{ item.monto }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
