{% extends 'pegasus/base.html' %}

{% block content %}
    <h2 class="sub-header">Requerimiento {{ requerimiento.ano_eje }}-{{ requerimiento.n_requer }}-{{ requerimiento.clasifica }}  </h2>
    {{ requerimiento.personal }}
    <h3>Detalles</h3>
    <div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>N°</th>
                <th>Codigo</th>
                <th>Concepto</th>
                <th>Valor</th>
                <th>%</th>
                <th>Monto</th>
            </tr>
        </thead>
        <tbody>
            {% for item in requerimiento.get_detalle_items %}
            <tr>
                <td>{{ item.item }}</td>
                <td>{{ item.cantidad }}</td>
                <td>{{ item.desc_insumo }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
