
{% extends 'adminkit/base.html' %}
{% load staticfiles %}

{% block sidebar %}
    {% include 'pegasus/sidebar.html' %}
{% endblock %}


{% block extra_js %}
    <script src="{% static 'pegasus/js/modal-ajax.js' %}"></script>

    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.js"></script> -->
    
    
{% endblock %}


