<div class="well well-small">
    <div class="media">
        <a class="pull-left" href="#">
            <img src="" alt="" width="50" height="50">
        </a>
        <div class="media-body">
            <h5><strong>RRHH <small>Subíndice</small></strong></h5>
        </div>
    </div>
</div>

<ul class="nav nav-list nav-list-vivid">
    <li class="nav-header">Básicos</li>
  
    <li class="active">
        <a href="{% url 'personal_list' %}">
            Lista de personal
            <span class="badge pull-right">1</span>
        </a>
    </li>

    <li class="active">
        <a href="{% url 'planilla_list' 2014 %}">
            Registro de Planillas
            <span class="badge pull-right">69</span>
        </a>
    </li>


    <li class="active">
        <a href="{% url 'requerimiento_list' 2014 %}">
            Lista de requerimientos
            <span class="badge pull-right">1</span>
        </a>
    </li>

    <li class="active">
        <a href="{% url 'orden_list' 2000 %}">
            Lista de ordenes
            <span class="badge pull-right">1</span>
        </a>
    </li>

    <li class="divider"></li>
    <li class="nav-header">Planillas</li>
    
 
  
    <li class="active">
        <a href="#">
            Consolidado de planillas
            <span class="badge pull-right">69</span>
        </a>
    </li>
   


   

</ul>
