
{% extends 'pegasus/base.html' %}


{% block content %}

<div class="page-header">
	<div class="pull-right hidden-print">
         
        <form method="POST" action=""> {%csrf_token%}
			{{el_form.as_p}}
			<input type="submit" class="btn btn-hg btn-info" value="Registramee">
	
		</form>
	</div>
        <h3 class="sub-header">Personal de Planta</h3>
</div>
{% block js_checkbox %}

    <div class="table-responsive">
    <table class="table table-striped" id="eventsTable"
       data-toggle="table"
       data-height="300"
       data-search="true"
       >
        <thead>
            <tr>
                <th data-checkbox="true">Est.</th>
                <th>Cat.</th>
                <th>DNI</th>
                <th>Ap. / Nom.</th>
                <th>Fec. Nac.</th>
                <th>Edad</th>
                <th>Sex</th>
            </tr>
        </thead>
        <tbody>
            {% for personal in personal_list %}
            <tr>
                <td>{{ personal.get_situacion_display }}</td>
                <td>{{ personal.mod_laboral }}</td>
                <td>{{ personal.dni }}</td>
                <td>{{ personal.nomb_comp }}</td>
                <td>{{ personal.fecha_nac|date }}</td>
                <td>{{ personal.get_years_old }}</td>
                <td>{{ personal.get_sexo_display }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    {% endblock %}
 
{% endblock %}