
{% load staticfiles %}


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}AdminKit{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="{% static 'flat-ui/css/flat-ui.css' %}" rel="stylesheet">

    <!-- Loading Adminkit CSS -->
    <link href="{% static 'adminkit/css/adminkit.css' %}" rel="stylesheet">
    {% block extra_css %}{% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block extra_head %}{% endblock %}
</head>
<body>
    {% block navbar %}
        {% include "adminkit/navbar.html" %}
    {% endblock %}

    {% block reset_container %}
    <div id="container" class="container-fluid">
        {% block container %}
        <div class="row">
            <div id="sidebar" class="col-sm-4 col-lg-3">
                {% block sidebar %}
                    {% include "adminkit/sidebar.html" %}
                {% endblock %}
            </div>
            <div id="content" class="col-sm-8 col-lg-9">
                {% block content %}{% endblock %}
            </div>
        </div>
        {% endblock %}
    </div>
    {% endblock %}

    {% block footer %}{% endblock %}

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

    <!-- Load JS here for greater good =============================-->
    <script src="{% static 'flat-ui/js/jquery-1.8.3.min.js' %}"></script>
    <script src="{% static 'flat-ui/js/jquery-ui-1.10.3.custom.min.js' %}"></script>
    <script src="{% static 'flat-ui/js/jquery.ui.touch-punch.min.js' %}"></script>
    <script src="{% static 'flat-ui/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'flat-ui/js/bootstrap-select.js' %}"></script>
    <script src="{% static 'flat-ui/js/bootstrap-switch.js' %}"></script>
    <script src="{% static 'flat-ui/js/flatui-checkbox.js' %}"></script>
    <script src="{% static 'flat-ui/js/flatui-radio.js' %}"></script>
    <script src="{% static 'flat-ui/js/jquery.tagsinput.js' %}"></script>
    <script src="{% static 'flat-ui/js/jquery.placeholder.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
